node_modules/
.wasp/
!.wasp/out/
!.wasp/out/server/
!.wasp/out/server/**
!.wasp/out/web-app/
!.wasp/out/web-app/build/
!.wasp/out/web-app/build/**
!.wasp/out/db/
!.wasp/out/db/**
!.wasp/out/sdk/
!.wasp/out/sdk/**
!.wasp/out/libs/
!.wasp/out/libs/**
!.wasp/out/src/
!.wasp/out/src/**
!.wasp/out/Dockerfile
!.wasp/out/package.json
!.wasp/out/package-lock.json
!.wasp/out/tsconfig.json
